<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IOSContentDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0DE4848A1FDA4055001637E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DE484A31FDA4055001637E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DE484AE1FDA4055001637E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
